@{
    ViewData["Title"] = "Ana Sayfa";
}

<section class="home-hero">

    <div class="hero-logo">
        <div class="logo-circle">
            <span>✦</span>
        </div>
        <p>Beykent Üniversitesi</p>
    </div>

    <h1>Kırtasiye Sıra Alma Sistemi</h1>

    <div class="hero-divider">
        <span></span>
        <small>❧</small>
        <span></span>
    </div>

    <p class="hero-subtitle">
        Siparişlerinizi kolayca oluşturun, sıranızı takip edin
        ve ödemelerinizi hızlıca yönetin.
    </p>

    <a asp-controller="Account" asp-action="Login" class="hero-login-btn">
         Giriş Yap
    </a>

</section>